@model ExpofairTourPlanung.Models.Del4Job

@{
    ViewData["Title"] = "Jobdaten";
}

<div class="card" style="margin-bottom: 15px;">
   <div class="card-header">
        <h5>Job: @Model.Caption (@Model.Number) Dokumente wurden verschickt.</h5>
    </div>
</div>
    