@model ExpofairTourPlanung.Models.Job2Tour

@{
    ViewData["Title"] = "Jobdaten";
}

<form asp-controller="Job" asp-action="SaveJob" enctype="multipart/form-data">

    <div class="card" style="margin-bottom: 15px;">

        <div class="card-header">
            <h5>Jobdaten: @Model.Caption (@Model.Number)</h5>
        </div>

        <div class="card-body">

            <input hidden asp-for="IdTourJob" />

            <div class="row form-group">
                <div class="col-12">
                    <label for="Tour">Zeitraum</label>
                    <input class="form-control" asp-for="Time" type="text" placeholder="Bitte Legen Sie einen Zeitraum fest" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label for="Tour">Fertig Bis</label>
                    <input class="form-control" asp-for="ReadyTime" type="text" placeholder="Bitte Legen Sie einen Zeitpunkt für die Fertigstellung fest." />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label for="Tour">Kopf</label>
                    <textarea rows="10" class="form-control" asp-for="HeadLine" placeholder="Hier können Sie einen Text eintragen. Der Text wird vor dem Job dargestellt."></textarea>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-12">
                    <label for="Tour">Kommentar</label>
                    <textarea rows="10" class="form-control" asp-for="Comment" placeholder="Hier können Sie einen Kommentar eintragen. Der Text wird nach dem Material dargestellt."></textarea>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-12">
                    <label for="Tour">Adresse</label>
                    <textarea rows="10" class="form-control" asp-for="AddressTXT" placeholder="Hier können Sie die Addresse ändern."></textarea>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-12">
                    <label for="Tour">Inhalt</label>
                    <textarea rows="10" class="form-control" asp-for="Stock" placeholder="Stockbeschreibung"></textarea>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">Speichern</button>
            </div>
        </div>
</form>
