@model ExpofairTourPlanung.Models.Tour

@{
    ViewData["Title"] = "SB-Plan";
}
<form asp-controller="Sb" asp-action="saveSbTour" enctype="multipart/form-data">

    <div class="card" style="margin-bottom: 15px;">

        <div class="card-header">
            <h5>Selbstabholer-Plan erstellen:</h5>
        </div>

        <div class="card-body">

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })


            @Html.Hidden("IdTour", (Model != null) ? Model.IdTour : 0)


            <div class="row form-group">
                <div class="col-6">
                    <label for="Tour">Datum</label>
                    <input class="form-control" asp-for="TourDate" type="date" placeholder="SB-Jobs für welches Datum?" />
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" type="submit">SB-Plan anlegen</button>
        </div>
    </div>
</form>

